body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: blueviolet;
}

.main-game {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.genius {
  display: grid;
  grid-template-areas: 'verde vermelho' 'amarelo azul';
  grid-gap: 10px;
  border-radius: 100%;
  background-color: black;
  /* border: 1px solid white; */
  width: 500px;
  height: 500px;
  padding: 5px;
}

.green {
  grid-area: verde;
  background-color: green;
  border-top-left-radius: 100%;
}

.red {
  grid-area: vermelho;
  background-color: red;
  border-top-right-radius: 100%;
}

.yellow {
  grid-area: amarelo;
  background-color: yellow;
  border-bottom-left-radius: 100%;
}

.blue {
  grid-area: azul;
  background-color: blue;
  border-bottom-right-radius: 100%;
}

.selected {
  border: 3px solid white;
}
